#home {
  color: #ff430c !important;
}
#navmenu {
  color: #d64d24;
}
#orange {
  color: #d64d24;
}
#grey {
  color: rgb(139, 138, 138);
}
#image {
  background-image: url(Photo/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50%;
  opacity: 0.8;
  top: 50%;
  bottom: 50%;
}
#travel {
  color: #ff430c;
}
#buttons {
  background-color: #ff430c;
}
@media (max-width: 768px) {
  #image {
    background-size: cover;
  }
}
